
/*Import Owl Carousel*/
@import url(./node_modules/owl.carousel/src/scss/owl.carousel.scss);
@import url(./node_modules/owl.carousel/src/scss/owl.theme.default.scss);


.head-name {
    font-size: 30px;
    font-weight: lighter;
}
.nav-cust {
    font-size: 20px;
    font-weight: lighter;
}

.navvv {
    display: inline-flex;
}
img {
    width: 100%;
}